.about {
  display: flex;
  flex-wrap: wrap;
  .bio {
    flex: 1 1 20rem;
    padding: 20px;
    margin-right: 20px;
    background: #fff;
    &:last-child {
      margin-right: 0;
    }
    figure {
      text-align: left;
      padding: 0;
      margin: 0;
      img {
        margin: 0 auto;
        display: block;
      }
      figcaption {
        display: block;
        text-align: center;
        height: 34px;
        padding: 10px 10px 0;
        margin: -34px 0 0 0;
        position: relative;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(255,255,255, 0), rgba(255,255,255,.8));
        color: $color-text-light-theme;
        text-shadow: 1px 1px rgba(255,255,255, .6);
      }
    }
    blockquote {
      display: block;
      &::after {
        top: auto;
        position: static;
      }
    }
  }
  @include media-query-max($breakpoint-tablet-portrait) {
    display: block;
    .bio {
      width: 100%;
      margin-right: 0;
      display: flex;
      flex-wrap: wrap;
      h3 {
        width: 100%;
        flex: none;
        margin-top: 0;
      }
      figure {
        flex: 0 1 15rem;
        margin-right: 20px;
      }
      p, blockquote {
        margin-top: 0;
        flex: 1 1 20rem;
      }
    }
  }
  @include media-query-max($breakpoint-phone-only) {
    .bio {
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
      figure {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}
.gallery {
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  li {
    flex: 1 1 22rem;
    max-width: calc(50% - 40px);
    margin: 20px;
    background: #fff;
  }
  figure, img {
    margin: 0;
    display: block;
  }
  figcaption {
    margin-right: 10px;
  }
  .description {
    font-size: 14px;
    text-align: center;
    padding: 10px;
  }
  @include media-query-max($breakpoint-phone-only) {
    li {
      max-width: 100vw;
      .description {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
