$space-xs: .25rem;
$space-s: .5rem;
.mobile-icon {
  position: relative;
  z-index: 2;
  border: none;
  width: 2rem;
  height: 2rem;
  min-width: 0;
  padding: 0;
  background: none;
  border-radius: 0;
  margin-left: auto;
  &:hover, &:focus {
    outline: none;
    cursor: pointer;
    box-shadow: none;
    background: none;
  }
  i, &::before, &::after {
    content: '';
    width: 100%;
    @include transition;
    background-color: $color-near-white;
    display: block;
    height: $space-xs;
  }
  &::before {
    animation: top-line-out 0.8s backwards;
    animation-direction: reverse;
  }
  i {
    margin: $space-xs 0;
    animation: middle-line-out 0.8s backwards;
    animation-direction: reverse;
  }
  &::after {
    animation: bottom-line-out 0.8s backwards;
    animation-direction: reverse;
  }
  &.mobile-icon-open {
    transition: none;
    &::before {
      animation: top-line .8s forwards;
    }
    i {
      animation: middle-line .8s forwards;
    }
    &::after {
      animation: bottom-line .8s forwards;
    }
  }
}

@keyframes top-line {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY($space-s) rotate(0deg); }
  100% { transform: translateY($space-s) rotate(135deg); }
}

@keyframes middle-line {
  50% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@keyframes bottom-line {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-$space-s) rotate(0deg); }
  100% { transform: translateY(-$space-s) rotate(135deg); }
}
@keyframes top-line-out {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY($space-s) rotate(0deg); }
  100% { transform: translateY($space-s) rotate(135deg); }
}

@keyframes middle-line-out {
  50% { transform: rotate(0deg); }
  100% { transform: rotate(45deg); }
}

@keyframes bottom-line-out {
  0% { transform: translateY(0) rotate(0deg); }
  50% { transform: translateY(-$space-xs) rotate(0deg); }
  100% { transform: translateY(-$space-xs) rotate(135deg); }
}
