@import "site-nav";
@import "mobile-nav";

nav.main-nav {
  background: none;
  box-shadow: none;
  width: 100%;
  li.active {
    background: none;
    button {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
      color: $color-green-dark;
    }
  }
}

.pagination,
.main-nav ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  li {
    margin-right: 20px;
  }
}

.pagination {
  justify-content: space-between;
  li {
    padding-right: 0;
    padding-left: 0;
    &.active {
      background: none;
      button {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
        color: $color-green-dark;
      }
    }
  }
  button {
    background: $color-green;
    border: none;
    box-shadow: none;
    border-radius: 3px;
  }
}
