nav.main-nav {
  background: none;
  box-shadow: none;
  li.active {
    background: none;
    button {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
      color: $color-green-dark;
    }
  }
}
.pagination,
.main-nav ul {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  li {
    margin-right: 20px;
  }
}
.pagination {
  justify-content: space-between;
}

nav.site-nav {
  background: $color-green;
  position: relative;
  .logo-link {
    position: absolute;
    right: 10vw;
    top: 0;
    border: none;
    text-decoration: none;
    .logo {
      margin: 10px;
      width: 100px;
      transition: all .3s ease-in-out;
    }
    &:hover {
      border: none;
      text-decoration: none;
      .logo {
        opacity: .8;
      }
    }
  }
  ul {
    display: flex;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    li {
      position: relative;
      a {
        display: block;
        box-shadow: none;
        border: none; //override materialize styles
        cursor: pointer;
        color: #fff;
        font-size: 1rem;
        &.active {
          background: $color-active-nav;
        }
      }
    }
  }
  .subnav {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    background: $color-green;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    transition: all .3s ease-in-out;
    &.expanded {
      opacity: 1;
      height: auto;
      padding: 1rem;
      z-index: 2;
    }
    li {
      display: block;
      float: none;
      a {
        padding: .5rem;
        line-height: 1;
      }
    }
  }
}

.pagination {
  li {
    padding-right: 0;
    padding-left: 0;
    &.active {
      background: none;
      button {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5) inset;
        color: $color-green-dark;
      }
    }
  }
  button {
    background: $color-green;
    border: none;
    box-shadow: none;
    border-radius: 3px;
  }
}
