nav.site-nav {
  background: $color-green;
  position: absolute;
  top: 0;
  z-index: 5;
  &.sticky-nav {
    position: fixed;
    box-shadow: 0 2px 5px $color-black-alpha-10;
    animation: slide-down .3s forwards linear;
  }
  .logo-link {
    position: absolute;
    right: 10vw;
    top: 0;
    border: none;
    text-decoration: none;
    .logo {
      margin: 10px;
      width: 100px;
      transition: all .3s ease-in-out;
    }
    &:hover {
      border: none;
      text-decoration: none;
      .logo {
        opacity: .8;
      }
    }
  }
  .mobile-icon {
    display: none;
  }
  .nav-primary {
    display: flex;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    li {
      position: relative;
      a {
        display: block;
        box-shadow: none;
        border: none; //override materialize styles
        cursor: pointer;
        color: #fff;
        font-size: 1rem;
        &.active {
          background: $color-active-nav;
        }
      }
    }
  }
  .subnav {
    height: 0;
    opacity: 0;
    overflow: hidden;
    padding-left: 1rem;
    padding-right: 1rem;
    display: block;
    background: $color-green;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150%;
    transition: all .3s ease-in-out;
    &.expanded {
      opacity: 1;
      height: auto;
      padding: 1rem;
      z-index: 2;
    }
    li {
      display: block;
      float: none;
      a {
        padding: .5rem;
        line-height: 1;
      }
    }
  }
  @include media-query-max($breakpoint-tablet-landscape) {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    .logo-link {
      right: auto;
      left: 20px;
    }
    .nav-primary {
      position: absolute;
      right: 0;
      top: 0;
      width: 30vw;
      height: calc(100vh - 56px);
      overflow: scroll;
      margin-top: 64px;
      padding: 30px;
      background: $color-green;
      transform: translateX(100%);
      flex-direction: column;
      align-items: center;
      transition: all .3s ease-in-out;
      li a {
        text-align: center;
      }
      .subnav {
        &, &.expanded {
          position: relative;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          transform: none;
          opacity: 1;
          a {
            text-align: center;
            color: $color-green-dark;
          }
        }
      }
    }
    &.sticky-nav {
      .nav-primary {
        margin-top: 56px;
        height: calc(100vh - 56px);
      }
    }
    .mobile-icon {
      display: block;
      &.mobile-icon-open + .nav-primary {
        transform: translateX(0);
      }
    }
    &.mobile-nav-open {
      overflow: visible;
    }
  }
  @include media-query-max($breakpoint-tablet-portrait) {
    .nav-primary {
      width: 50vw;
    }
  }
  @include media-query-max($breakpoint-phone-only) {
    &.sticky-nav {
      margin-top: 0;
    }
    .nav-primary {
      width: 100vw;
      margin-top: 56px;
    }
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: none;
  }
}
